In [10]:
import pandas as pd


dataset = pd.read_csv("fraud_oracle.csv")
dataset.head()

,Month,WeekOfMonth,DayOfWeek,Make,AccidentArea,DayOfWeekClaimed,MonthClaimed,WeekOfMonthClaimed,Sex,MaritalStatus,...,AgeOfVehicle,AgeOfPolicyHolder,PoliceReportFiled,WitnessPresent,AgentType,NumberOfSuppliments,AddressChange_Claim,NumberOfCars,Year,BasePolicy
0,Dec,5,Wednesday,Honda,Urban,Tuesday,Jan,1,Female,Single,...,3 years,26 to 30,No,No,External,none,1 year,3 to 4,1994,Liability
1,Jan,3,Wednesday,Honda,Urban,Monday,Jan,4,Male,Single,...,6 years,31 to 35,Yes,No,External,none,no change,1 vehicle,1994,Collision
2,Oct,5,Friday,Honda,Urban,Thursday,Nov,2,Male,Married,...,7 years,41 to 50,No,No,External,none,no change,1 vehicle,1994,Collision
3,Jun,2,Saturday,Toyota,Rural,Friday,Jul,1,Male,Married,...,more than 7,51 to 65,Yes,No,External,more than 5,no change,1 vehicle,1994,Liability
4,Jan,5,Monday,Honda,Urban,Tuesday,Feb,2,Female,Single,...,5 years,31 to 35,No,No,External,none,no change,1 vehicle,1994,Collision

In [11]:
dataset.tail()

,Month,WeekOfMonth,DayOfWeek,Make,AccidentArea,DayOfWeekClaimed,MonthClaimed,WeekOfMonthClaimed,Sex,MaritalStatus,...,AgeOfVehicle,AgeOfPolicyHolder,PoliceReportFiled,WitnessPresent,AgentType,NumberOfSuppliments,AddressChange_Claim,NumberOfCars,Year,BasePolicy
15415,Nov,4,Friday,Toyota,Urban,Tuesday,Nov,5,Male,Married,...,6 years,31 to 35,No,No,External,none,no change,1 vehicle,1996,Collision
15416,Nov,5,Thursday,Pontiac,Urban,Friday,Dec,1,Male,Married,...,6 years,31 to 35,No,No,External,more than 5,no change,3 to 4,1996,Liability
15417,Nov,5,Thursday,Toyota,Rural,Friday,Dec,1,Male,Single,...,5 years,26 to 30,No,No,External,1 to 2,no change,1 vehicle,1996,Collision
15418,Dec,1,Monday,Toyota,Urban,Thursday,Dec,2,Female,Married,...,2 years,31 to 35,No,No,External,more than 5,no change,1 vehicle,1996,All Perils
15419,Dec,2,Wednesday,Toyota,Urban,Thursday,Dec,3,Male,Single,...,5 years,26 to 30,No,No,External,1 to 2,no change,1 vehicle,1996,Collision

In [12]:
#Checking Whether there's any null values
from tensorflow import keras
from tensorflow.keras import layers
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

dataset.isna().any()

Month                   False
WeekOfMonth             False
DayOfWeek               False
Make                    False
AccidentArea            False
DayOfWeekClaimed        False
MonthClaimed            False
WeekOfMonthClaimed      False
Sex                     False
MaritalStatus           False
Age                     False
Fault                   False
PolicyType              False
VehicleCategory         False
VehiclePrice            False
FraudFound_P            False
PolicyNumber            False
RepNumber               False
Deductible              False
DriverRating            False
Days_Policy_Accident    False
Days_Policy_Claim       False
PastNumberOfClaims      False
AgeOfVehicle            False
AgeOfPolicyHolder       False
PoliceReportFiled       False
WitnessPresent          False
AgentType               False
NumberOfSuppliments     False
AddressChange_Claim     False
NumberOfCars            False
Year                    False
BasePolicy              False
dtype: bool

In [13]:
#data types of the data set
dataset.dtypes

Month                   object
WeekOfMonth              int64
DayOfWeek               object
Make                    object
AccidentArea            object
DayOfWeekClaimed        object
MonthClaimed            object
WeekOfMonthClaimed       int64
Sex                     object
MaritalStatus           object
Age                      int64
Fault                   object
PolicyType              object
VehicleCategory         object
VehiclePrice            object
FraudFound_P             int64
PolicyNumber             int64
RepNumber                int64
Deductible               int64
DriverRating             int64
Days_Policy_Accident    object
Days_Policy_Claim       object
PastNumberOfClaims      object
AgeOfVehicle            object
AgeOfPolicyHolder       object
PoliceReportFiled       object
WitnessPresent          object
AgentType               object
NumberOfSuppliments     object
AddressChange_Claim     object
NumberOfCars            object
Year                     int64
BasePolicy              object
dtype: object

In [14]:
#removing unrelated variables from the data set
updated_ds = dataset.drop(["Month","WeekOfMonth","DayOfWeek", "Make", "DayOfWeekClaimed", "MonthClaimed", "WeekOfMonthClaimed", 
                   "RepNumber", "Deductible", "AgeOfPolicyHolder","PastNumberOfClaims","PolicyNumber", "AddressChange_Claim","NumberOfCars","Year"],axis =1)

In [15]:
updated_ds.dtypes

AccidentArea            object
Sex                     object
MaritalStatus           object
Age                      int64
Fault                   object
PolicyType              object
VehicleCategory         object
VehiclePrice            object
FraudFound_P             int64
DriverRating             int64
Days_Policy_Accident    object
Days_Policy_Claim       object
AgeOfVehicle            object
PoliceReportFiled       object
WitnessPresent          object
AgentType               object
NumberOfSuppliments     object
BasePolicy              object
dtype: object

In [16]:
updated_ds["FraudFound_P"].value_counts()

0    14497
1      923
Name: FraudFound_P, dtype: int64

In [17]:
#drop fetures that identified as unimportant by feature extraction method using R-Studio

updated_ds_new = updated_ds.drop(["AccidentArea", "AgentType", "DriverRating", "NumberOfSuppliments","PoliceReportFiled","VehiclePrice"],axis =1)

In [18]:
updated_ds_new

,Sex,MaritalStatus,Age,Fault,PolicyType,VehicleCategory,FraudFound_P,Days_Policy_Accident,Days_Policy_Claim,AgeOfVehicle,WitnessPresent,BasePolicy
0,Female,Single,21,Policy Holder,Sport - Liability,Sport,0,more than 30,more than 30,3 years,No,Liability
1,Male,Single,34,Policy Holder,Sport - Collision,Sport,0,more than 30,more than 30,6 years,No,Collision
2,Male,Married,47,Policy Holder,Sport - Collision,Sport,0,more than 30,more than 30,7 years,No,Collision
3,Male,Married,65,Third Party,Sedan - Liability,Sport,0,more than 30,more than 30,more than 7,No,Liability
4,Female,Single,27,Third Party,Sport - Collision,Sport,0,more than 30,more than 30,5 years,No,Collision
...,...,...,...,...,...,...,...,...,...,...,...,...
15415,Male,Married,35,Policy Holder,Sedan - Collision,Sedan,1,more than 30,more than 30,6 years,No,Collision
15416,Male,Married,30,Policy Holder,Sedan - Liability,Sport,0,more than 30,more than 30,6 years,No,Liability
15417,Male,Single,24,Policy Holder,Sedan - Collision,Sedan,1,more than 30,more than 30,5 years,No,Collision
15418,Female,Married,34,Third Party,Sedan - All Perils,Sedan,0,more than 30,more than 30,2 years,No,All Perils
15419,Male,Single,21,Policy Holder,Sedan - Collision,Sedan,1,more than 30,more than 30,5 years,No,Collision

In [22]:
updated_ds_new["Sex"].value_counts()

Male      13000
Female     2420
Name: Sex, dtype: int64

In [23]:
updated_ds_new["MaritalStatus"].value_counts()

Married     10625
Single       4684
Divorced       76
Widow          35
Name: MaritalStatus, dtype: int64

In [24]:
updated_ds_new["Age"].value_counts()

30    596
33    574
34    573
35    569
28    560
     ...
20     28
70     27
79     20
16      9
17      6
Name: Age, Length: 66, dtype: int64

In [25]:
updated_ds_new["Fault"].value_counts()

Policy Holder    11230
Third Party       4190
Name: Fault, dtype: int64

In [26]:
updated_ds_new["PolicyType"].value_counts()

Sedan - Collision       5584
Sedan - Liability       4987
Sedan - All Perils      4087
Sport - Collision        348
Utility - All Perils     340
Utility - Collision       30
Sport - All Perils        22
Utility - Liability       21
Sport - Liability          1
Name: PolicyType, dtype: int64

In [27]:
updated_ds_new["VehicleCategory"].value_counts()

Sedan      9671
Sport      5358
Utility     391
Name: VehicleCategory, dtype: int64

In [28]:
updated_ds_new["FraudFound_P"].value_counts()

0    14497
1      923
Name: FraudFound_P, dtype: int64

In [29]:
updated_ds_new["Days_Policy_Accident"].value_counts()

more than 30    15247
none               55
8 to 15            55
15 to 30           49
1 to 7             14
Name: Days_Policy_Accident, dtype: int64

In [30]:
updated_ds_new["Days_Policy_Claim"].value_counts()

more than 30    15342
15 to 30           56
8 to 15            21
none                1
Name: Days_Policy_Claim, dtype: int64

In [31]:
updated_ds_new["AgeOfVehicle"].value_counts()

7 years        5807
more than 7    3981
6 years        3448
5 years        1357
new             373
4 years         229
3 years         152
2 years          73
Name: AgeOfVehicle, dtype: int64

In [32]:
updated_ds_new["WitnessPresent"].value_counts()

No     15333
Yes       87
Name: WitnessPresent, dtype: int64

In [33]:
updated_ds_new["BasePolicy"].value_counts()

Collision     5962
Liability     5009
All Perils    4449
Name: BasePolicy, dtype: int64

In [37]:
# For Days_Policy_Accident it contains range of values here change this column into get the mean of the range.
# ranges and make float
# Change the values in a column based on a condition

updated_ds_new.loc[updated_ds_new['Days_Policy_Accident'] == 'more than 30', 'Days_Policy_Accident'] = '31'

updated_ds_new.loc[updated_ds_new['Days_Policy_Accident'] == 'none', 'Days_Policy_Accident'] = '0'

# mean of range 8 t0 15 -> 8+9+10+11+12+13+14+15 / 8 = 11.5 
updated_ds_new.loc[updated_ds_new['Days_Policy_Accident'] == '8 to 15', 'Days_Policy_Accident'] = '11.5'

# mean of range 15 to 30 ->  15+16+17+18+19+20+21+22+23+24+25+26+27+28+29+30/ 16 = 22.5 
updated_ds_new.loc[updated_ds_new['Days_Policy_Accident'] == '15 to 30', 'Days_Policy_Accident'] = '22.5'

# mean of range 1 t0 7 ->  1+2+3+4+5+6+7/7 = 4 
updated_ds_new.loc[updated_ds_new['Days_Policy_Accident'] == '1 to 7', 'Days_Policy_Accident'] = '4'

In [38]:
updated_ds_new["Days_Policy_Accident"].value_counts()

31      15247
11.5       55
0          55
22.5       49
4          14
Name: Days_Policy_Accident, dtype: int64

In [40]:
# For Days_Policy_Claim it contains range of values here change this column into get the mean of the range.
# ranges and make float
# Change the values in a column based on a condition

updated_ds_new.loc[updated_ds_new['Days_Policy_Claim'] == 'more than 30', 'Days_Policy_Claim'] = '31'

# mean of range 15 to 30 ->  15+16+17+18+19+20+21+22+23+24+25+26+27+28+29+30/ 16 = 22.5 
updated_ds_new.loc[updated_ds_new['Days_Policy_Claim'] == '15 to 30', 'Days_Policy_Claim'] = '22.5'

# mean of range 8 t0 15 -> 8+9+10+11+12+13+14+15 / 8 = 11.5 
updated_ds_new.loc[updated_ds_new['Days_Policy_Claim'] == '8 to 15', 'Days_Policy_Claim'] = '11.5'

updated_ds_new.loc[updated_ds_new['Days_Policy_Claim'] == 'none', 'Days_Policy_Claim'] = '0'

In [41]:
updated_ds_new["Days_Policy_Claim"].value_counts()

31      15342
22.5       56
11.5       21
0           1
Name: Days_Policy_Claim, dtype: int64

In [43]:
# For AgeOfVehicle it contains range of values here change this column into get the mean of the range.

# Change the values in a column based on a condition

updated_ds_new.loc[updated_ds_new['AgeOfVehicle'] == '7 years', 'AgeOfVehicle'] = '7'

updated_ds_new.loc[updated_ds_new['AgeOfVehicle'] == 'more than 7', 'AgeOfVehicle'] = '8'

updated_ds_new.loc[updated_ds_new['AgeOfVehicle'] == '6 years', 'AgeOfVehicle'] = '6'

updated_ds_new.loc[updated_ds_new['AgeOfVehicle'] == '5 years', 'AgeOfVehicle'] = '5'

updated_ds_new.loc[updated_ds_new['AgeOfVehicle'] == 'new', 'AgeOfVehicle'] = '0'

updated_ds_new.loc[updated_ds_new['AgeOfVehicle'] == '4 years', 'AgeOfVehicle'] = '4'

updated_ds_new.loc[updated_ds_new['AgeOfVehicle'] == '3 years', 'AgeOfVehicle'] = '3'

updated_ds_new.loc[updated_ds_new['AgeOfVehicle'] == '2 years', 'AgeOfVehicle'] = '2'

In [44]:
updated_ds_new["AgeOfVehicle"].value_counts()

7    5807
8    3981
6    3448
5    1357
0     373
4     229
3     152
2      73
Name: AgeOfVehicle, dtype: int64

In [46]:
updated_ds_new.head()

,Sex,MaritalStatus,Age,Fault,PolicyType,VehicleCategory,FraudFound_P,Days_Policy_Accident,Days_Policy_Claim,AgeOfVehicle,WitnessPresent,BasePolicy
0,Female,Single,21,Policy Holder,Sport - Liability,Sport,0,31,31,3,No,Liability
1,Male,Single,34,Policy Holder,Sport - Collision,Sport,0,31,31,6,No,Collision
2,Male,Married,47,Policy Holder,Sport - Collision,Sport,0,31,31,7,No,Collision
3,Male,Married,65,Third Party,Sedan - Liability,Sport,0,31,31,8,No,Liability
4,Female,Single,27,Third Party,Sport - Collision,Sport,0,31,31,5,No,Collision

In [49]:
# changing datatypes of the dataset as per the above transformations
updated_ds_new['Days_Policy_Accident'] = updated_ds_new['Days_Policy_Accident'].astype('float')
updated_ds_new['Days_Policy_Claim'] = updated_ds_new['Days_Policy_Claim'].astype('float')
updated_ds_new['AgeOfVehicle'] = updated_ds_new['AgeOfVehicle'].astype('float')

In [66]:
updated_ds_new.dtypes

Sex                      object
MaritalStatus            object
Age                       int64
Fault                    object
PolicyType               object
VehicleCategory          object
FraudFound_P              int64
Days_Policy_Accident    float64
Days_Policy_Claim       float64
AgeOfVehicle              int32
WitnessPresent           object
BasePolicy               object
dtype: object

In [76]:
# perform OHE for categorical data 
one_hot_encoded_data = pd.get_dummies(updated_ds_new, columns = ['Sex', 'MaritalStatus','Fault','PolicyType', 'VehicleCategory','WitnessPresent','BasePolicy'])

In [77]:
one_hot_encoded_data

,Age,FraudFound_P,Days_Policy_Accident,Days_Policy_Claim,AgeOfVehicle,Sex_Female,Sex_Male,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,...,PolicyType_Utility - Collision,PolicyType_Utility - Liability,VehicleCategory_Sedan,VehicleCategory_Sport,VehicleCategory_Utility,WitnessPresent_No,WitnessPresent_Yes,BasePolicy_All Perils,BasePolicy_Collision,BasePolicy_Liability
0,21,0,31.0,31.0,3,1,0,0,0,1,...,0,0,0,1,0,1,0,0,0,1
1,34,0,31.0,31.0,6,0,1,0,0,1,...,0,0,0,1,0,1,0,0,1,0
2,47,0,31.0,31.0,7,0,1,0,1,0,...,0,0,0,1,0,1,0,0,1,0
3,65,0,31.0,31.0,8,0,1,0,1,0,...,0,0,0,1,0,1,0,0,0,1
4,27,0,31.0,31.0,5,1,0,0,0,1,...,0,0,0,1,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15415,35,1,31.0,31.0,6,0,1,0,1,0,...,0,0,1,0,0,1,0,0,1,0
15416,30,0,31.0,31.0,6,0,1,0,1,0,...,0,0,0,1,0,1,0,0,0,1
15417,24,1,31.0,31.0,5,0,1,0,0,1,...,0,0,1,0,0,1,0,0,1,0
15418,34,0,31.0,31.0,2,1,0,0,1,0,...,0,0,1,0,0,1,0,1,0,0
15419,21,1,31.0,31.0,5,0,1,0,0,1,...,0,0,1,0,0,1,0,0,1,0